@model Congress

@{
    Layout = "_LayoutRestauracion";
}
<partial name="_CabeceraRestauracion" model="@Model" />

<div class="card">
    <div class="card-header">
        <h4>Bienvenido a la web de reservas de asistencia</h4>
    </div>
    <div class="form-row card-body">
        <div class="form-group col-md-12">
            Lo sentimos, aún no existen registros para el evento.
        </div>               
    </div>
</div>
   
