@{
    Layout = "_Layout";
}
<div class="row wow fadeIn">
    <div class="col-12 mb-4">
        <div class="card row-card">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>