@model List<Congress>

@{
    ViewData["Title"] = "Sincronización SAGE";
    ViewData["Back"] = false;
    ViewData["Create"] = false;
}

@*<div class="mb-4">
    <button id="sync-all-btn" class="btn btn-outline-primary btn-sm">
        Facturar todo
    </button>
</div>*@
<div class="list-group list-group-flush">
    @foreach (var c in Model.OrderBy(c => c.DisplayName))
    {
        <div class="list-group-item align-items-center justify-content-start">
            <div id="@c.Id" class="row import-container">
                <div class="col-4">
                    @c.DisplayName
                </div>
                <div class="col-4">
                    <button data-id="@c.Id" class="btn btn-outline-primary btn-sm import-btn">
                        Facturar
                    </button>
                </div>
                <div class="col-8 d-none">
                    Importando
                </div>
                <div class="col-8 d-none">
                    <span class="badge badge-success">
                        Sincronizado
                    </span>
                </div>
                <div class="col-8 d-none">
                    <span class="badge badge-danger mx-2">
                        Error al sincronizar
                    </span>
                </div>
                <div class="col-12 d-none">
                    <div class="progress mt-4">
                        <div class="progress-bar progress-bar-indeterminate" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        var isImporting = false;
        var importIdx = -1;
        var importCongress = function (id, trigger) {
            if ($("#" + id).hasClass("imported")) {
                if (trigger) {
                    $(document).trigger("importFinished");
                }
                return;
            }

            isImporting = true;
            $($("#" + id).children()[2]).toggleClass("d-none");
            $($("#" + id).children()[5]).toggleClass("d-none");
            $($("#" + id).children()[1]).toggleClass("d-none");
            
            ga('send', 'pageview', '/Transfer/ToSage/' + id);
            fetch("/Transfer/ToSage/" + id).then(res => {
                if (!res.ok) {
                    console.log(res);
                    isImporting = false;
                    $($("#" + id).children()[2]).addClass("d-none");
                    $($("#" + id).children()[4]).removeClass("d-none");
                    $($("#" + id).children()[5]).addClass("d-none");
                    if (trigger) {
                        $(document).trigger("importFinished");
                    }
                    return res.text();
                }

                //Imported ok
                $("#" + id).addClass("imported");
                $($("#" + id).children()[2]).addClass("d-none");
                $($("#" + id).children()[3]).removeClass("d-none");
                $($("#" + id).children()[5]).addClass("d-none");
                if (trigger) {
                    $(document).trigger("importFinished");
                }
                isImporting = false;

            }).then(e => {
                if (e) {
                    $($("#" + id).children()[4]).append(e);
                }
            }).catch(e => {
                console.error(e);
                isImporting = false;
                $($("#" + id).children()[2]).addClass("d-none");
                $($("#" + id).children()[4]).removeClass("d-none");
                $($("#" + id).children()[5]).addClass("d-none");
                if (trigger) {
                    $(document).trigger("importFinished");
                }
            });
        }

        var importNextCongress = function () {
            importIdx++;
            if (importIdx >= $(".import-container").length) {
                return;
            }
            importCongress($(".import-container")[importIdx].id, true);
        }

        $(e => {
            $(document).on("importFinished", function () {
                importNextCongress();
            });

            $(".import-btn").click(e => {
                e.preventDefault();
                if (isImporting) {
                    return;
                }
                var id = $(e.target).attr("data-id");
                importCongress(id, false);
            });

            $("#sync-all-btn").click(e => {
                e.preventDefault();
                if (isImporting) {
                    return;
                }
                $(document).trigger("importFinished");
            });
        });
    </script>

}
