@model byte[]

@{
    string imgSrc = string.Empty;
    if (Model != null)
    {
        var base64 = Convert.ToBase64String(Model);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <img src="@imgSrc" class="img-fluid img-thumbnail" />
    }
    else
    {
        <i class="fas fa-image fa-3x text-muted"></i>
        <br />
        <span class="badge badge-secondary">No disponible</span>
    }
}


