<div class="input-group">
    <input type="text" class="form-control form-control-sm" value="@ViewBag.ProveedorNombre" placeholder="-Seleccionar-" disabled data-toggle="modal" data-target="#BuscadorProveedorModal" name="BuscadorProveedorTexto" id="BuscadorProveedorTexto">
    <div class="input-group-append">
        <button type="button" data-toggle="modal" data-target="#BuscadorProveedorModal" class="btn btn-grey btn-sm m-0">
            <i class="fas fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="modal fade right vh-100 overflow-hidden" id="BuscadorProveedorModal" data-id-input="" data-name-input="" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 mb-4">
                    <label for="BuscadorProveedorTexto" class="control-label">Código o nombre del proveedor</label>
                    <input type="text" id="BuscadorProveedorTexto" name="BuscadorProveedorTexto" class="form-control form-control-sm" onkeyup="BuscarProveedor(this)" placeholder="Escriba algo"/>
                </div>
                <div class="col-12">
                    Resultados
                </div>
                <div id="divProveedoresResults" class="col-12 client-list-search-container">
                    <partial name="~/Views/Proveedores/Buscador.cshtml" model="null" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function BuscarProveedor(sender) {
        var value = sender.value;
        clearTimeout(timeout);
        var timeout = setTimeout(function () {
            $("#divProveedoresResults").empty();
            $("#divProveedoresResults").append('<div class="text-center m-5"><div class="spinner-border text-primary" role="status"><span class="sr-only">Cargando...</span></div></div>')
            fetch("/Proveedores/Buscador?value=" + value)
                .then(e => {
                    return e.text()
                }).then(html => {
                    $("#divProveedoresResults").empty();
                    $("#divProveedoresResults").append(html);
                });
        }, 1000);
    }
</script>



