<form method="post">    
    <button asp-action="ActualizarEstadosPedidosCompra">Actualizar estados pedidos de compra</button>    
    <button asp-action="ActualizarEstadosPedidosVenta">Actualizar estados pedidos de venta</button>
</form>

