@model Ferpuser.Models.Registrant
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="LocationId" />

<input asp-for="Modified" class="form-control" />
<input asp-for="Deleted" class="form-control" />
<input asp-for="Created" class="form-control" />


<div class="col-lg-2 col-md-6 form-group">
    <label asp-for="TreatmentId" class="control-label"></label>
    <select asp-for="TreatmentId" class="browser-default custom-select" asp-items="ViewBag.TreatmentId"></select>
</div>
<div class="col-lg-4 col-md-6 form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="col-lg-4 col-md-6 form-group">
    <label asp-for="Surnames" class="control-label"></label>
    <input asp-for="Surnames" class="form-control" />
    <span asp-validation-for="Surnames" class="text-danger"></span>
</div>
<div class="col-lg-2 col-md-6 form-group">
    <label asp-for="NIF" class="control-label"></label>
    <input asp-for="NIF" class="form-control" />
    <span asp-validation-for="NIF" class="text-danger"></span>
</div>


<div class="col-lg-4 col-md-6 form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="col-lg-4 col-md-6 form-group">
    <label asp-for="Email2" class="control-label"></label>
    <input asp-for="Email2" class="form-control" />
    <span asp-validation-for="Email2" class="text-danger"></span>
</div>
<div class="col-lg-4 col-md-6 form-group">
    <label asp-for="Position" class="control-label"></label>
    <input asp-for="Position" class="form-control" />
    <span asp-validation-for="Position" class="text-danger"></span>
</div>

@*<div class="col-md-3 col-md-4 form-group">
    <label asp-for="Category" class="control-label"></label>
    <input asp-for="Category" class="form-control" />
    <span asp-validation-for="Category" class="text-danger"></span>
</div>*@
@*@Html.HiddenFor(f => f.Category)*@

<div class="col-md-3 col-md-4 form-group">
    <label asp-for="CategoriaInscritoId" class="control-label"></label>
    @Html.DropDownListFor(model => model.CategoriaInscritoId, new SelectList(ViewBag.CategoriasInscritos, "Id", "Nombre"), "-Seleccionar-", new { @class = "form-control select2" })
    <span asp-validation-for="CategoriaInscritoId" class="text-danger"></span>
</div>
<div class="col-md-3 col-md-4 form-group">
    <label asp-for="ProfessionalCategory" class="control-label"></label>
    <input asp-for="ProfessionalCategory" class="form-control" />
    <span asp-validation-for="ProfessionalCategory" class="text-danger"></span>
</div>
<div class="col-md-3 col-md-4 form-group">
    <label asp-for="Workplace" class="control-label"></label>
    <input asp-for="Workplace" class="form-control" />
    <span asp-validation-for="Workplace" class="text-danger"></span>
</div>
<div class="col-md-3 col-md-4 form-group">
    <label asp-for="Laboratorio" class="control-label"></label>
    <input asp-for="Laboratorio" class="form-control" />
    <span asp-validation-for="Laboratorio" class="text-danger"></span>
</div>
<div class="col-md-3 col-md-4 form-group">
    <label asp-for="Especialidad" class="control-label"></label>
    <input asp-for="Especialidad" class="form-control" />
    <span asp-validation-for="Especialidad" class="text-danger"></span>
</div>
