@model Ferpuser.Models.RegistrantLocation
<input type="hidden" asp-for="Id" />

<input asp-for="Modified" class="form-control" />
<input asp-for="Deleted" class="form-control" />
<input asp-for="Created" class="form-control" />
<input hidden asp-for="RegistrantId" class="form-control" />

<div class="col-md-6 form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="ZipCode" class="control-label"></label>
    <input asp-for="ZipCode" class="form-control" />
    <span asp-validation-for="ZipCode" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="Province" class="control-label"></label>
    <input asp-for="Province" class="form-control" />
    <span asp-validation-for="Province" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="Country" class="control-label"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="col-md-3 form-group">
    <label asp-for="Phone2" class="control-label"></label>
    <input asp-for="Phone2" class="form-control" />
    <span asp-validation-for="Phone2" class="text-danger"></span>
</div>