@model string
@*<form method="post">
    <button type="submit">Actualizar IVAS</button>
</form>

<p>@Model</p>*@
@*
<a class="btn btn-grey btn-sm text-nowrap" asp-action="ImprimirFactura" asp-controller="Pruebas">
    Imprimir <i class="fas fa-print ml-2"></i>
</a>*@

<a class="btn btn-grey btn-sm text-nowrap" asp-action="FromWeb" asp-controller="Pruebas">
    From web Evento 22001 <i class="fas fa-print ml-2"></i>
</a>
