@{ 
    ViewData["Title"] = "Importar datos desde SAGE";

    ViewData["Back"] = false;
    ViewData["Create"] = false;
}

<form method="post">
    <h5>
        Importar
    </h5>
    <button class="btn btn-primary">Importar</button>
</form>