body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 17pt !important;
    max-height: 1500px;
}

.header {
    max-height: 180px;
}

.footer {
    max-height: 100px;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.fixed-left {
    position: fixed;
    bottom: 10%;
    left: 0;
    top: 0;
    z-index: 1030;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.small {
    font-size: 80%;
    font-weight: 500;
}

.small-xs {
    font-size: 70%;
    font-weight: 500;
}

.text-muted {
    color: #6c757d !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.tr-border td, .tr-border th {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}


