@model ArticulosAlmacen

@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
}

<form method="post" id="form">

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Nuevo articulo almacen
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                <button type="submit" name="guardar" class="btn btn-secondary btn-sm text-nowrap">Guardar <i class="fas fa-save ml-2"></i></button>
                <button type="submit" name="guardar" value="continuar" class="btn btn-secondary btn-sm text-nowrap">Guardar y nuevo <i class="fas fa-save ml-2"></i></button>
                <a asp-action="Index" class="btn btn-grey btn-sm text-nowrap">Volver <i class="fas fa-arrow-left ml-2"></i></a>
            </div>
        </div>
    </div>

    @Html.EditorForModel()

</form>

@section Styles
{
    <link rel="stylesheet" href="~/lib/jqueryui/jqueryui/jquery-ui.min.css">
}

@section Scripts {
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    <script src="~/lib/jqueryui/jqueryui/jquery-ui.min.js"></script>
}

