@using Ferpuser.ViewModels
@model ControlPresupuestarioViewModel

@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
}

@section Styles
{
    <link href="/css/site.css" rel="stylesheet" />
    <style type="text/css" media="print">
        #divResultados th, td {
            font-size: 0.9rem !important;
            padding: 0px !important;
        }
        .mt-2-printer
        {
            padding-top:250px !important;
        }
    </style>
}

<form id="form" method="post" class="d-print-none">
    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Informes de control presupuestario
                </h5>
            </div>

            @if (Model != null && Model.Items != null && Model.Items.Any())
            {
                <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                    <button class="btn btn-grey btn-sm text-nowrap" onclick="window.print();">
                        Imprimir informe <i class="fas fa-print ml-2"></i>
                    </button>
                </div>
            }
        </div>
    </div>
    <div id="divFiltros" class="d-print-none">
        <partial name="_Filtros" model="Model?.Filter" />
    </div>
    <div class="form-row">
        <div class="col text-right">
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Obtener informe <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index","ControlPresupuestario")" class="btn btn-sm btn-grey">Limpiar filtros <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>

    <hr class="d-print-none" />
</form>

@if (Model != null && Model.Items != null && Model.Items.Any())
{
    switch (Model.Filter.Tipo)
    {
        case Ferpuser.Models.Enums.TipoInformeControlPresupuestario.N2:
            <partial name="_InformeTipo2y3" model="Model" />
            break;
        case Ferpuser.Models.Enums.TipoInformeControlPresupuestario.N3:
            <partial name="_InformeTipo2y3" model="Model" />
            break;
        case Ferpuser.Models.Enums.TipoInformeControlPresupuestario.N4:
            <partial name="_InformeTipo4" model="Model" />
            break;
    }
}
else if (Model != null && (Model.Items == null || !Model.Items.Any()))
{
    <partial name="_Empty" model='"No hay resultados"' />
}


<script>
    function TipoCosteChanged() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Filtros", "ControlPresupuestario")",
            data: $('#form').serialize(),
            success: function (response) {
                $("#divFiltros").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>